@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
:root{
    --brand-color: #b6230f;
}

body{
    font-family: 'Oxygen',sans-serif;
    line-height: 1.7;
}
img{
    width: 100%;
}
a{
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
    transition: all 0.5s ease;
    font-weight: 500;
}

.bg-cover {
    background-position: center !important;
    background-size: cover !important;
}

/* Brand NavBar */

.brand_nav{
    background-color: var(--brand-color);
    padding-top: 5px;
    padding-bottom: 5px;
}
.brand_nav p{
    margin-bottom: 0%;
    display: inline-block;
    margin-right: 2rem;
    color: #fff;
}

.brand_nav i,
.brand_nav span{
    vertical-align: middle;
}
.social_links a{
    width: 35px;
    height: 35px;
    background-color: rgba(255, 255, 255, 0.329);
    display: inline-flex;
    align-items: center;
    justify-content: center;
   border-radius: 50%;    
}

.social_links a:hover{
    color: white;
    background-color: black;

}


/* Menu Navbar */

.navbar{
    box-shadow: 0px 10px 40px rgba(65, 4, 4, 0.202);
    background-color: white;
    
}

.navbar a{
    font-weight: 500 !important;
    font-size: 19px !important;
    transition: all 0.5s ease;
}

.navbar .navbar-nav .nav-item .nav-link:hover,
.navbar .navbar-nav .nav-item .nav-link.active{
    color: var(--brand-color) !important;
    font-size: 6rem;
}

.navbar .navbar-nav .nav-item .nav-link:hover {
    /* font-weight: 800; */
}
.navbar .navbar-brand{
    font-weight: 700 !important;
    font-size: 28px !important;
    /* color: aquamarine; */
}
.navbar-brand span{
    /* font-weight: 600; */
    font-size: 40px;
    color: var(--brand-color)
}

.btn{
    padding: 8px 20px;
    font-weight: 500;
}

.contactBtn{
    background-color: var(--brand-color);
    color: #fff !important;
}
.contactBtn:hover{
    background-color: #7c1b0e;
    box-shadow: 5px 10px 30px #7c1b0e6c;
}

/* SLIDER */

.slider-wrapper {
    background: linear-gradient(#1f4ca577, #1f4ca577), url('../images/background.jpg');
    /* background-position: center;
    background-size: cover; */
    background-attachment: fixed;
}
.slide1{
    /* background: linear-gradient(#0a6375, #2b5eac); */
    /* background: url('/images/slide4.jpg'); */
    /* background-size: cover !important;
    background-position: center !important;
     */
   
}

.slider-wrapper .btn {
    font-weight: bold;
}
.btn-brand{
    background-color: var(--brand-color);
    color: white !important;
    padding: 8px 20px;
}

.btn-brand:hover{
    box-shadow: 5px 10px 30px #7c1b0e6c;
}
/* aboutSection */

.aboutSection {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: rgba(0, 0, 0, 0.159);
}

.aboutInfo .aboutContents div img {
        width: 7.5rem;
            border-radius: 50%;
            /* color: var(--brand-color); */
}

.aboutImage {
    border-radius: 30px 30px;
    box-shadow: 0px 20px 30px #1b2b6d78;
    }
    
    .aboutSection div h2 {
        color: var(--brand-color);
        text-align: center;
    }
    
    .aboutSection div p {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: center;
    }
    
    .milestone {
        background: linear-gradient(#1f4ca577, #1f4ca577), url('../images/bg6.jpg');
        /* background-attachment: fixed; */
        min-height: 20rem;
        /* background-repeat: no-repeat !important; */
        /* background-size: cover !important;
                                            background-position: center; */
        /* color: white; */
        display: flex;
        align-items: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        padding: 10rem 0;
    }
    
    .milestone h2 {
        color: whitesmoke;
    }
    
    .milestone p {
        color: var(--brand-color);
        font-family: 'Times New Roman', Times, serif;
        font-size: 18px;
    }
    
    .milestoneInfo {
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 30px 30px;
        box-sizing: border-box;
        margin-top: 2px;
        align-items: center;
        /* margin: 2px; */
    }
/* Services */

.services {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.services .servicesInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.services .servicesInfo h4 {
    color: var(--brand-color);
    margin-bottom: 2rem;
}

.services .servicesInfo p {
    max-width: 500px;
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 16px;
    /* font-family: ; */
    /* z-index: 0; */

}

.services .serviceProvide {
    margin-top: 5rem;
    margin-bottom: 3rem;
}

.services .serviceProvide .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.services .serviceProvide .card:hover {
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.services .serviceProvide .card img {
    width: 10rem;
}

.services .serviceProvide .card .card-body h5 {
    text-align: center;
}

.services .serviceProvide .card .card-body p {
    text-align: center;
}